<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>
    <h2>欢迎使用图片深度学习处理工具！</h2>
    <br>
    <h1>请您登录</h1>
    <form method="post" action="login">
        <label>用户名<input type="text" name="username" class="formInput" /></label>
        <label>密码<input type="password" name="password" class="formInput" /></label>
        <div><input type="submit" value="提交" /></div>
    </form>
    <br>
    <br>
    <h1>没有账号？立即注册</h1>
    <form method="post" action="logon">
        <label>用户名<input type="text" name="username" class="formInput" /></label>
        <label>密码<input type="password" name="password" class="formInput" /></label>
        <div><input type="submit" value="提交" /></div>
    </form>

</body>

</html>