<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>处理结果</title>
    <script src="static/jquery.min.js"></script>
</head>
<body>
    <div>
        <h2 style="display: inline-block">欢迎使用图片深度学习处理工具！</h2>
        <form method="post" action="logout" style="display: inline-block">
            <div><input type="submit" value="登出" /></div>
        </form>
        <form method="get" action="history" style="display: inline-block">
            <div><input type="submit" value="操作历史" /></div>
        </form>
        <form method="get" action="uploadPage" style="display: inline-block">
            <div><input type="submit" value="上传文件" /></div>
        </form>
    </div>
    <br>
    <div>
        <h1>编号：{{ope.id}} 创建时间：{{ope.time|date:"Y-m-d H:i:s"}} 状态：
            {% if ope.status == 0 %}
            <span id="status" style="color: indianred">运行中</span>
            {% elif ope.status == 1 %}
            <span id="status" style="color: green">已完成</span>
            {% endif %}
        </h1>
    </div>
    <div>
        <h1>输入图片：{% if ope.toomany %}（至多显示5张）{% endif %}</h1>
    {% for input in ope.inputs %}
    <img src="{{input.url}}"  alt="图片加载中" />
    {% endfor %}
    </div>
    <div>
        <h1>处理结果：{% if ope.toomany %}（每组结果图片至多显示5张，更多图片请下载查看）{% endif %}</h1>
    </div>
    {% for one in ope.opers %}
    <div class="resItem">
        <span style="font-size: 2em">
            {{one.name}}：{% if one.outputStr %}{{one.outputStr}}{% endif %}
        </span>
        <form method="get" action="" style="display: none">
            <div><input type="submit" value="下载结果文件" /></div>
        </form>
        <div class="resItemPics"></div>
    </div>
    <br>
    <br>
    {% endfor %}

</body>

<script>
    var timerId = 0;
    operId = {{ope.id}}
    function requestChange() {
        $.ajax(`queryResult?id=${operId}`, {
            success(res) {
                jsonObj = res;
                statusStr = $("#status")[0];
                if(res.status === 0){
                    statusStr.style.color = "indianred";
                    statusStr.innerText = "运行中";
                }else{
                    statusStr.style.color = "green";
                    statusStr.innerText = "已完成";
                }
                itemsList = $(".resItem");
                for (let i = 0; i < jsonObj.opers.length; i++) {
                    itemsList[i].getElementsByTagName("span")[0].innerText = jsonObj.opers[i].outputStr ? jsonObj.opers[i].name + "：" + jsonObj.opers[i].outputStr : "";
                    picsDiv = $(itemsList[i]).children(".resItemPics")[0];
                    console.log(picsDiv);
                    imgItemList = picsDiv.getElementsByTagName("img");
                    formElement = itemsList[i].getElementsByTagName("form")[0];
                    formElement.style.display = jsonObj.opers[i].outputDownload?"inline-block":"none";
                    formElement.action = jsonObj.opers[i].outputDownload?jsonObj.opers[i].outputDownload:"";
                    let j;
                    for(j=0;j<Math.min(imgItemList.length, jsonObj.opers[i].outputFileUrls.length);j++){
                        imgItemList[j].src = jsonObj.opers[i].outputFileUrls[j];
                    }
                    for(;j<jsonObj.opers[i].outputFileUrls.length;j++){
                        let newElement = document.createElement("img")
                        newElement.src = jsonObj.opers[i].outputFileUrls[j];
                        picsDiv.appendChild(newElement)
                    }
                    for(;j<imgItemList.length;j++){
                        picsDiv.removeChild(imgItemList[j])
                    }
                }
                timerId = setTimeout(requestChange, 500);
            },
            fail(res) {
                console.log(res);
                eval(res);
                    if(timerId)clearTimeout(timerId)
            }
        })
    }
    window.onload = function() {
        timerId = setTimeout(requestChange, 500);
    }
</script>

</html>